@charset "utf-8";

body {
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-image: url(images/book-fair-678264_1280.jpg);
	background-size: cover;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	position: relative;
}
	
	
body #nav ul {
	font-size: 100%;
	list-style-type: none;
	margin: 0;
	padding: 1%;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0px;
	width: 100%;
	height: 3%;
	background-color: #A7D2CB;
	background-repeat: no-repeat;	
}


body #nav ul li {
	float: right;
	padding-left: 0%;
	padding-right: 3%;		
}


#nav ul li a {
    display: block;
    text-align: center;
    padding: 0px 0px;
}


ul li a:hover {
	text-decoration: underline;
}


.cossieplay-logo {
	margin-left: 3%;
	margin-top: 0.5%;
	padding: 0.3%;
	position: absolute;
	top: 0%;
	left: 0px;
	float: left;
	font-size: 120%;
	border: medium solid #000000;
	padding-left: 2%;
	padding-right: 2%;
}


.cossieplay-logo:hover {
	text-decoration: underline;
}


a:link {
	text-decoration: none;
	color: black;	
}


a:visited {
	text-decoration: none;
	color: black;
}


.active {
	text-decoration: underline;
}


#spacer{
	margin-top: 4%;	
}


.page-section {
	background-color: white	
}

.center {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}